.git
.idea
.project
.settings
.DS_Store

*~
*.diff
*.patch
*.log

bower_components/
node_modules/
coverage/
App/Runtime/
runtime/
log/
output/
output.tar.gz
sftp-config.json
nohup.out
src/*.html